<ConfigData>
  <TelegramToken>LELELELELELELELEL</TelegramToken>
  <OumanAddress>https://google.com:443/</OumanAddress>
  <OumanUser>username</OumanUser>
  <OumanPassword>password</OumanPassword>
</ConfigData>